
# **WAP to enter a number from user and print its absolute value.**

In [1]:
import numpy as np

num = int(input())
print(np.abs(num))

-300
300

# **WAP to enter a year from user and check if it is leap year or not.**

In [2]:
year = int(input())

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

2024
2024 is a leap year

# **WAP to enter the age of 3 person and print oldest and yougest among them.**

In [5]:
age1, age2, age3 = map(int, input().split())
ages = [age1, age2, age3]

print(f'Youngest = {max(ages)}')
print(f'Oldest = {min(ages)}')

12 88 25
Youngest = 88
Oldest = 12

# **Write a program that asks the user to enter a series of numbers. The program should ask for numbers until the user enters a negative number. Once the user enters a negative number, the program should stop and print the sum of all the positive numbers entered**
# **Example**
# **Enter a number: 5**
# **Enter a number: 8**
# **Enter a number: 12**
# **Enter a number: -2**
# **The sum of the positive numbers is 25.**

In [6]:
temp=[]
i=0
while(True):
  i+=1
  num = int(input(f"enter the number{i}\t"))
  if num >= 0:
    temp.append(num)
  else:
    break

print(f'result = {sum(temp)}')

enter the number1	1
enter the number2	5
enter the number3	23
enter the number4	-12
result = 29

# **Write a program that asks the user to enter their name and age. The program should check if the user's age is greater than or equal to 18. If it is, the program should print a message saying they are eligible to vote. Otherwise, the program should print a message saying they are not eligible to vote due to being underage.**

In [7]:
name = input("Please enter your name\t")
age = int(input("Please enter your age\t"))
if age >= 18:
  print(f"{name}! : you are eligible to vote :)")
else:
  print(f"{name}! : you are not eligible to vote due to being underage :(")

Please enter your name	Mostafa
Please enter your age	12
Mostafa! : you are not eligible to vote due to being underage :(

# **Write a Python Program to Find the Factorial of a Number**

In [8]:
def fact(n):
  if n == 1 :
    return(n)
  else:
    return n*fact(n-1)

fact(6)

720