**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
word = input()
print(len(word))

 Hello World

11

In [2]:
sum = 0
for i in word:
  sum+=1

print(sum)

12

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [15]:
def first_last(word):
  if len(word) < 2:
    print("Empty String")
  else:
    print(word[:2]+""+word[-2:])

first_last("W3")

W3W3

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [17]:
def add_ing(word):
  if len(word)<3:
    print(word)
  elif word[-3:].lower() == 'ing':
    print(word[:-3]+""+'ly')
  else:
    print(word+""+"ing")

add_ing("abc")

abcing

In [18]:
add_ing("abcing")

abcly

In [19]:
add_ing("ab")

ab

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [27]:
words = input("please enter the list of words:\t").split()
len_ = list(map(len , words))
print(len_)
print(words[len_.index(max(len_))], max(len_))

please enter the list of words:	amr mostafa ahmed omar esmail
[3, 7, 5, 4, 6]
mostafa 7

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [28]:
word = "abca"
print("e"+word[1:-1]+"e")

ebce

In [29]:
word = "abca"
for i in range(len(word)):
  if i == 0:
    word = 'e'+word[i+1:]
  elif i == len(word)-1:
    word = word[:i]+'e'
print(word)

ebce

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [32]:
word = "abca"
new_word = ""
for i in range(len(word)):
  if i % 2 != 0:
    continue
  else:
    new_word += word[i]

print(new_word)

ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [39]:
sample = "amr and ahmed are frindes but amr is the tallest"
sample = sample.split()

result = {}
for i in sample:
    result[i] = 0
print(result)

for i in sample:
    result[i]+=1
print(result)

print(f"Result:{max(result.values())}")

{'amr': 0, 'and': 0, 'ahmed': 0, 'are': 0, 'frindes': 0, 'but': 0, 'is': 0, 'the': 0, 'tallest': 0}
{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'frindes': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}
Result:2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [52]:
from logging import raiseExceptions
word = input()

if word.isalpha():
  print(f"upper case: {word.upper()}")
  print(f"lower case: {word.lower()}")
else:
  raise ValueError("please enter letters only:")

AHmeD
upper case: AHMED
lower case: ahmed


**9-Write a Python function to reverse a string if its length is a multiple of 4

In [55]:
def reverse(str_):
  if len(str_) % 4 == 0:
    str_ = str_[::-1]
    print(str_)
  else:
    print(str_)

reverse("ahme")

emha

**10- Write a Python program to remove a newline in Python

In [66]:
sen = """ welcome to
Instant
Ai course
"""
new_sen=""
for i in sen:
  if i =='\n':
    continue
  new_sen+=i

new_sen

' welcome toInstantAi course'

**11-Write a Python program to check whether a string starts with specified characters

In [62]:
def Start_with(str_, char):
    if str_[0] == char:
        print(True)
    else:
        print(False)
Start_with("Instant", "I")

True

**12- Write a Python program to add prefix text to all of the lines in a string

In [57]:
str_ = input().split()

for i in str_:
    word = ">"+i
    print(word)

 Ahmed Elsaid Slama

>Ahmed
>Elsaid
>Slama

**13-Write a Python program to print the following numbers up to 2 decimal places

In [65]:
num = 3.215648
print(f"{num : 0.2f}")

 3.22

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [66]:
import numpy as np
num = float(input())
print(f'{np.round(num,2)}')

 3.215648

3.22

**15-Write a Python program to display a number with a comma separator

In [77]:
nums = 1234556
new_num = ""
for i in str(nums):
  new_num+=i+','
print(new_num)

1,2,3,4,5,5,6,

**16-Write a Python program to reverse a string using 2 ways

In [80]:
word = input()

#first method
print(word[::-1])

#second method
reversed_word = ""

i=len(word)-1
while(i>=0):
  reversed_word+=word[i]
  i-=1
print(reversed_word)

Dr. Mostafa Mahmoud
duomhaM afatsoM .rD
duomhaM afatsoM .rD

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [10]:
word = "repeated characters"
counts = {}
for i in word:
    counts[i] = 0
for j in word:
    counts[j]+=1

print(counts)
print(counts['e'])

{'r': 3, 'e': 4, 'p': 1, 'a': 3, 't': 2, 'd': 1, ' ': 1, 'c': 2, 'h': 1, 's': 1}
4

**18-Write a Python program to find the first non-repeating character in a given string

In [11]:
for i in word:
    if counts[i] == 1:
        print(i)
        break

p

**19-Write a Python program to remove spaces from a given string

In [12]:
word = "Ahmed Elsaid Slama"
result = ""
for i in word:
    if i == " ":
        continue
    result+=i
print(result)

AhmedElsaidSlama

**20-Write a Python program to count the number of non-empty substrings of a given string

In [40]:
def substr(string):
    len_str = len(string)
    return int(len_str*(len_str+1)/2)

substr("Ahmed")

15

**21-write a Python program to swap first and last element of any list.

In [8]:
element = [i for i in range(11)]

element[0], element[-1]  = element[-1], element[0]
print(element)

[10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [4]:
def swap(list_, *Args):
    list_ = list_
    for i in range(len(list_)):
        if i == Args[0] or i == Args[1]:
            continue
        else:
            list_[i] , list_[i+2] = list_[i+2] , list_[i]
            break
    return list_
    
swap([23, 65, 19, 90], 1, 3)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [13]:
ls = [i for i in range(1,21)]

#method1
print(len(ls))

#method2
sum_ = 0
for i in range(len(ls)):
    sum_+=1
len_list = sum_
print(len_list)

#method3
length = ls.index(ls[-1])+1
print(length)

#method4 using recursion
def len_(list_):
    if list_ == []:
        return 0
    else:
        return 1+len_(list_[1:])
len_(ls)

20
20
20

20

**24-write a Python code to find the Maximum number of list of numbers.

In [26]:
# maximum number using recursion function
l = [2,6,9,3,25,5,3,1]
def find_max(list_):
    i = 0
    j = i+1
    while (j<len(list_)):
        if list_[i] < list_[j]:
            return find_max(list_[j:])
        else:
            j+=1
    return list_[i]
    
find_max(l)

25

** m-write a Python code to find the Minimum number of list of numbers.

In [6]:
ls_ = [2,5,6,3,4,9,2,36,1,98]
def sort(ls_):
    if len(ls_) <= 1:
        return ls_
    else:
        mid = ls_[len(ls_)//2]
        left  = [i for i in ls_ if i < mid]
        right = [i for i in ls_ if i > mid]
        return sort(left)+[mid]+sort(right)
        
ls_ = sort(ls_)
print(f"the Minimum number of list: {ls_[0]}")

the Minimum number of list: 1

In [31]:
# minimum number using recursion function
l = [2,6,9,3,25,5,3,1]
def find_min(list_):
    i = 0
    j = i+1
    while (j<len(list_)):
        if list_[i] < list_[j]:
            j+=1
        else:
            return find_max(list_[j:])
    return list_[i]
    
find_min(l)

1

**26-search for if an elem is existing in list

In [7]:
def Search(ls_, n):
    low  = 0
    high = len(ls_) 
    mid  = (low+high)//2

    if n in ls_:
        while (n >= low):
            if n > ls_[mid]:
                low = mid+1
                mid = (low+high)//2
            elif n < ls_[mid]:
                high = mid-1
                mid  = (low+high)//2
            else:
                print(ls_[mid])
                break
    else:
        raise ValueError("list index out of range:(")

Search([i for i in range(101)], 75)

75

**27- clear python list using different ways

In [14]:
#Using the clear() funcitoin
list_ = [23, 65, 19, 90]
list_.clear()
print(list_)

#Reinitializing the list
list_ = [23, 65, 19, 90]
list_ = []
print(list_)

#Multiply by zero
list_ = [23, 65, 19, 90]
list_ *= 0
print(list_)

#Using del keyword  
list_ = [23, 65, 19, 90]
del list_

[]
[]
[]

**28-remove duplicated elements from a list

In [16]:
lst_ = [1,1,2,3,3,4,5,5]
lst_ = list(set(lst_))
print(lst_)

[1, 2, 3, 4, 5]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [42]:
test = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]

result = []
new_test_list = []
for i in range(0,len(test),len(key_list)):
    new_test_list.append(test[i:i+2])

for i in new_test_list:
    dict_ = {}
    for k,v in zip(key_list,i):
        dict_[k] = v
    result.append(dict_)

print(result)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [46]:
ls = [1,2,2,3,4,4,4,5,6,6,7]

#method1
print(len(set(ls)))

#method2
count = {}
for i in ls:
    count[i] = 0
print(len(count))

#method3
unique_list = []
for i in ls:
    if i not in unique_list:
        unique_list.append(i)
print(len(unique_list))

7
7
7

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [46]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
Farr = [0]*(max(test_list)+1)

def frq(list_, k):
    for i in range(len(test_list)):
        Farr[test_list[i]]+=1

    Output = []
    for i in range(len(Farr)):
        if Farr[i] > k:
            Output.append(i)

    print(Output)

frq(test_list, 3)

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [21]:
lst_ = [1, 2, 2, 3, 4, 5]
Neighbour = []
for i in range(len(lst_)-1):
    Neighbour.append(lst_[i+1])
print(Neighbour)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [16]:
Input = [1, 2, 3]

i = len(Input)*2
j = len(Input)-1
while(i > 0):
    print(Input)
    if j < -(len(Input)-1):
        break
    Input[j], Input[j-1] = Input[j-1], Input[j]
    j-=1
    i-=1

[1, 2, 3]
[1, 3, 2]
[3, 1, 2]
[2, 1, 3]
[2, 3, 1]
[3, 2, 1]

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [60]:
test_list = [1,2,3]
for i in range(0,len(test_list)):
    print([test_list[i]])
    for j in range(i+1, len(test_list)):
        print(test_list[i:j+1])

        if j == len(test_list)-1 and i==0:
            print([test_list[i],test_list[-1]])

[1]
[1, 2]
[1, 2, 3]
[1, 3]
[2]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [68]:
List_1 = ["a","b"] 
List_2 = [1,2]

result = [(i,j) for i in List_1 for j in List_2]
result

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [76]:
input_list = [1,1,2,3,4,5,2,1]
n = 1
result = list(filter(lambda x: x != n, input_list))
result

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [87]:
list_1 = ["Gfg", "is", "best"]
list_2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

for i in range(len(list_2)):
    list_2[i] = list_1[list_2[i]]

print(list_2)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [105]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
k = 5
N = 2

global sum_
for i in test_list:
    sum_ = 0
    for j in i:
        if j == k:
            sum_+=1
            
        if sum_ == N:
            print(i)
            break

(4, 5, 5, 4)

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [82]:
#Solved with the some help of AI

array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

def sort_by_column(array, col):
    return sorted(array, key=lambda x: x[col])

num_columns = len(array[0])
for col in range(num_columns):
    sorted_array = sort_by_column(array, col)
    print(f"Sorted array specific to column {col}, {sorted_array}")

Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [76]:
#Solved with the some help of AI

def sort_dict_by_value(input_dict):
    return dict(sorted(input_dict.items(), key=lambda x: x[1]))

sort_dict_by_value({'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32})

{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [2]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
def remove_keys(test_dict, k):
    
    for i in list(test_dict.keys()):
        if type(test_dict[i]) is int:
            if test_dict[i] >= 7:
                test_dict.pop(i)
    return test_dict

print(remove_keys(test_dict, k=7))

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [8]:
dic1, dic2, dic3 = {1:10, 2:20}, {3:30, 4:40}, {5:50,6:60}
result = {}

for i in dic1, dic2, dic3:
    for k,v in i.items():
        result[k] = v
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [76]:
dict_ = {"name" : "ahmed",
        "id" : 180106,
        "location" : "MitGhamr / Egypt"}
for k,v in dict_.items():
    print(f"Key:{k} --> Value:{v}")

Key:name --> Value:ahmed
Key:id --> Value:180106
Key:location --> Value:MitGhamr / Egypt

**44- Write a Python script to merge two Python dictionaries

In [113]:
dict_1 = {'key1' : 1,
          'key2' : 2,
          'key3' : 3}

dict_2 = {'key4' : 4,
          'key5' : 5,
          'key6' : 6}

result = {}
for i in dict_1, dict_2:
    for k, v in i.items():
        result[k] = v
print(result)

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4, 'key5': 5, 'key6': 6}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [117]:
print(f'max: {max(result.values())}')
print(f'min: {min(result.values())}')

max: 6
min: 1

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [142]:
Dictionary = {'c1': 'Red', 'c2': 'Green', 'c3': None}
for i in list(Dictionary.keys()):
    if Dictionary[i] is None:
        Dictionary.pop(i)
        print(Dictionary)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [150]:
tuple_ = (i for i in range(11))
next(iter(tuple_))

0

In [151]:
next(iter(tuple_))

1

**48-Write a Python program to unpack a tuple into several variables

In [11]:
tuple_ = 2,4,6,8,10
print(tuple_)

n1, n2, n3, n4, n5 = tuple_
print(n1)
print(n2)

(2, 4, 6, 8, 10)
2
4

**49-Write a Python program to add an item to a tuple

In [12]:
new_tuple = tuple_ + (15,)
print(new_tuple)

(2, 4, 6, 8, 10, 15)

**50-Write a Python program to convert a tuple to a string

In [72]:
name = ("a","h","m","e","d")
name = str(name)
print(type(name))

<class 'str'>

In [73]:
name = ("a","h","m","e","d")
print(name)
print(type(name))

word = ""
for i in name:
    word+=i
name=word
print(name)
print(type(name))

('a', 'h', 'm', 'e', 'd')
<class 'tuple'>
ahmed
<class 'str'>

**51-Write a Python program to convert a list to a tuple

In [152]:
ls = [1,2,3,4,5]
tup = tuple(ls)
print(tup)

(1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [154]:
tup = tup[::-1]
tup

(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [84]:
sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_value = 100

def replace(tuple_list, new_value):
    return [t[:-1] + (new_value,) for t in tuple_list]
    
result = replace(sample_list, new_value)
print(result)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [158]:
str_ = "python3.0"
str_ = tuple(str_)
str_

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [155]:
print(sum(tup)/len(tup))

3.0

**56-Write a Python program to add member(s) to a set.

In [21]:
s = {1,2,3,4,5}
s.add(10)
print(s)

{1, 2, 3, 4, 5, 10}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [22]:
if 10 in s:
    s.remove(10)
print(s)

{1, 2, 3, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [17]:
set1, set2 = {1,2,3,4,5}, {4,5,6,7,8,9}

print(f"Union {set1 | set2}")
print(f"intersection {set1 & set2}")
print(f"difference {set1 - set2}")
print(f"symmetric difference {set1 ^ set2}")

Union {1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection {4, 5}
difference {1, 2, 3}
symmetric difference {1, 2, 3, 6, 7, 8, 9}

**59-Write a Python program to find the maximum and minimum values in a set

In [160]:
set_ = {1,2,3,4,5}
print(max(set_))
print(min(set_))

5
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [7]:
def pairs_elements(num_list , n):
    for i in range(len(num_list)):
        for j in num_list[i:]:
            if num_list[i] + j == n:
                print(num_list[i] , j)
                
pairs_elements([i for i in range(16)] , 8)

0 8
1 7
2 6
3 5
4 4